<table>
  <tr>
    <th>Story ID</th>
    <th>Discussion Time</th>
    <th>Vote Variance</th>
    <th>Updated by</th>
  </tr>
  <%-	 @stories.each do |sid| %>
    <tr>
      <td><%=	 sid %></td>
      <td><%=  Activity.discuss_time(sid).round(2) %></td>
      <td><%=	 Activity.vote_variance(sid).round(2) %></td>
      <td><%=	 Activity.updated_by(sid) %></td>
    </tr>
  <% end %>
</table>